$keyboard_bg : rgb(51, 51, 51);
$keyboard_text : white;
$terminal_green: #7fbf7f;
$repo_link_text: #4078C0;
$list_text: #888;
$fullname_text: rgb(51, 51, 51);
$username_text: rgb(102, 102, 102);

//general font formats
body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: $repo_link_text;
}

.keyboard {
  background-color: $keyboard_bg;
  color: $keyboard_text;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 4px;
  border-radius: 3px;
  margin: 0;
}

//form styling
#input_username {
  border: 1px solid black;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

#lookup_label {
  padding: 7px 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: normal;
}

#lookup_button {
  background-color: $keyboard_bg;
  color: $keyboard_text;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

#lookup_button:hover {
  background-color: $terminal_green;
}

#github_fullname {
  font-size: 26px;
  font-weight: bold;
  color: $fullname_text;
  line-height: 30px;
  margin: 0;
}

//dynamic content styling
#github_username {
  font-size: 20px;
  font-weight: 300;
  color: $username_text;
  line-height: 24px;
  word-wrap: break-word;
  margin: 0 0 20px 0;
}

.nag {
  p {
    font-size: 16px;
  }
}

.repo {
  padding-left: 0;

  .repo_name {
    font-size: 20px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;

    li {
      color: $list_text;
    }

  }

}
